@font-face {
  font-family: mighty-souly;
  src: url(assets/MightySouly-lxggD.ttf);
}

body {
  display: block;
  padding: 0;
  height: screen;
  width: 100%;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 2rem;
  font: 300 xx-large mighty-souly;
  color: rgba(255, 255, 255, 0.82);
  padding: 1rem;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1.75rem;
}

#logo {
  margin: 0.5rem;
}

#info {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(245, 245, 245, 0.85);
  font: 600 x-large "Courier New", Courier, monospace;
  justify-content: center;
}

.keys {
  display: flex;
  width: 100%;
  padding: 0.25rem;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  flex-wrap: nowrap;
  justify-content: space-around;
  place-content: center;
  flex-grow: 1;
}

.key {
  display: flex;
  padding: 0.5rem 0.25rem;
  margin: 0.75rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 2px solid rgba(245, 245, 245, 0.75);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  min-height: 4.25em;
  min-width: 4.25em;
  color: rgba(245, 245, 245, 0.85);
  transition: all 0.08s;
}

kbd {
  font: 300 xx-large mighty-souly;
}

.sound {
  font: italic 400 medium "Courier New", Courier, monospace;
}

.playing {
  transform: scale(1.05);
  border: 3px solid rgba(10, 255, 10, 0.8);
  color: rgba(10, 255, 10, 0.8);
}
